:root {
  --error: #e60000;
  --pug-tan: #eeddcd;
  --pug-medium-dark: #856d60;
  --pug-nearly-dark: #594840;
  --pug-dark: #2b231f;
  --pug-tongue: #df9aa4;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
